.div {
    margin-left: 70px;

}

.navv {
    transform: translateY(-90px);

    &_ul {
        display: flex;
    }

    &_li {
        width: 255px;
        margin-left: 30px;
    }

    &_h2 {
        color: #333D4B;
        text-align: center;
        font-family: "Fraunces";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        margin-top: 60px;
        max-width: 190px;
        width: 100%;
    }

    &_p {
        color: #333D4B;
        text-align: center;
        font-family: "Barlow";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        max-width: 340px;
        width: 100%;
    }
}

@media only screen and (width:768px) {
    .navv_ul {
        display: flex;
        flex-direction: column;
    }

    .allgina {
        display: flex;
    }

    .three {
        max-width: 282px;
        width: 100%;
        margin-left: 100px;
        margin-top: 30px;
    }

    .navv_h2 {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        color: #333D4B;
        font-family: "Fraunces";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
        text-align: start;
    }

    .navv_p {
        color: #333D4B;
        font-family: "Barlow";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        width: 100%;
        width: 1000px;
        text-align: start;
    }
}

@media only screen and (width:375px) {
    .pic .container {
        margin-top: 50px;
    }
    .navv_ul{
        display: flex;
        flex-direction: column;
    }
}